html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 1440px;
  margin: auto;
  font-family: 'Lato', sans-serif;
}

/*MAIN GRID ELEMENTS*/
main {
  display: grid;
  grid-template-areas: 
    "menu search search"
    "menu info info"
    "menu nav nav"
    "menu graph graph"
    "menu job social";
  grid-template-columns: 175px 1fr 1fr;
}

/*LEFT MENU*/
.menu-container {
  display: grid;
  grid-template-areas: 

  grid-area: menu;
  background-color: #354051;
} 

.menu-boxes{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #2c3644;
}

.profile-image {
  height: 95px;
  width: 95px;
  border-radius: 100%;
  margin-top: 30px;
}

.profile-name {
  color: #bfc7d4; 
  padding-top: 20px;
  padding-bottom: 30px;
}

/*.fas fa-angle-down {
  color: #bfc7d4; 
}
*/


.search-container {
  grid-area: search;
  background-color: #8acfea;
}

.info-container {
  grid-area: info;
  background-color: #fd644e;
}

.nav-container {
  grid-area: nav;
  background-color: #82c7a5;
}

.graph-container {
  grid-area: graph;
  background-color: #808080;
}

.job-container {
  grid-area: job;
  background-color: #aed8e5;
}

.social-container {
  grid-area: social;
  background-color: #7f0e7f;
}
