html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: auto;
  font-family: 'Lato', sans-serif;
}

/*MAIN GRID ELEMENTS*/
main {
  display: grid;
  grid-template-areas: 
    "menu search search"
    "menu info info"
    "menu nav nav"
    "menu graph graph"
    "menu job social";
  grid-template-columns: 175px 1fr 1fr;
}

a {
  text-decoration: none;
  color: #58bbf8;
}

/*LEFT MENU*/
.menu-container {
  background-color: #354051;
  grid-area: menu;
} 

.profile-box{
  align-items: center;
  border-bottom: 2px solid #2c3644;
  display: flex;
  flex-direction: column;
}

/*PROFILE PIC AREA*/
.profile-image {
  border-radius: 100%;
  height: 95px;
  margin-top: 30px;
  width: 95px;
}

.profile-name {
  color: #bfc7d4;
  padding: 20px 0 30px 0;
  font-weight: 300;
}

.profile-name:hover {
  color: white;
}

.profile-icon {
  padding-left: 10px;
}

.menu-boxes {
  border-bottom: 2px solid #2c3644;
}

.menu-section-headings {
  color: #66748b;
  margin: 20px 0 20px 20px;
  font-size: 13px;
  font-weight: 900;
}

.menu-section-headings:hover {
  color: white;
}

.menu-icons{
  color: #bfc7d4;
  padding-right: 15px;
}

.menu-icons:hover {
  color: white;
}

.menu-btns {
  align-items: center;
  color: #9eaabc;
  border-left: 5px solid transparent;
  display: flex;
  height: 35px;
  font-size: 14px;
  font-weight: 700;
  padding: 0 20px 0 20px;
  text-align: left;
  width: 175px;
}

.menu-btns:hover {
  border-left: 5px solid #25a6f7;
  color: white;
}

.last-btn {
  margin-bottom: 20px;
}

/*CHECKBOXES*/
.checkboxes {
  align-items: center;
  color: #9ca7b9;
  display: flex;
  height: 35px;
  font-size: 13px;
  font-weight: 900;
}

.checkboxes:hover {
  color: white;
}

.checks {
  border-radius: 3px;
  display: inline-block;
  padding: 8px;
  margin: 0 13px 0 20px;
  position: relative;
  -webkit-appearance: none;
}

.admin-check {
  background-color: #fed432;
}

.admin-check:checked {
  background-color: #fed432;
  color: #99a1a7;
}

.admin-check:checked:after {
  color: #354051;
  content: '\2714';
  font-size: 14px;
  left: 3px;
  position: absolute;
  top: 0px;
}

.design-check {
  background-color: #35b1fc;
}

.design-check:checked {
  background-color: #35b1fc;
  color: #99a1a7;
}

.design-check:checked:after {
  color: #354051;
  content: '\2714';
  font-size: 14px;
  left: 3px;
  position: absolute;
  top: 0px;
}

.exec-check {
  background-color: #e52062;
}

.exec-check:checked {
  background-color: #e52062;
  color: #e52062;
}

.exec-check:checked:after {
  color: #354051;
  content: '\2714';
  font-size: 14px;
  left: 3px;
  position: absolute;
  top: 0px;
}

.hr-check {
  background-color: #19a889;
}

.hr-check:checked {
  background-color: #19a889;
  color: #e52062;
}

.hr-check:checked:after {
  color: #354051;
  content: '\2714';
  font-size: 14px;
  left: 3px;
  position: absolute;
  top: 0px;
}

.last-check {
  margin-bottom: 20px;
}

/*TOP SEARCH BAR*/
.search-container {
  grid-area: search;
}

.nav-search-bar {
  display: grid;
  grid-template-areas: 
  "popout srcbar prof cal options";
  grid-template-columns: 60px 1fr 60px 60px 60px;
}

.search-icons{
  align-items: center;  
  border: 1px solid #eff1f3;
  color: #7b8593;
  display: flex;
  font-size: 25px;
  justify-content: center;
  height:100%;
  width: 100%;
}

.search-icons:hover{
  background-color: #25a6f7;
  border: 1px solid #25a6f7;
  color: white;
}

.popout {
  grid-area: popout;
}

.srcbar {
  grid-area: srcbar
}

.search-bar-input {
  border: 1px solid #eff1f3;
  height: 60px;
  font-family: 'Lato', 'Font Awesome 5 Free', sans-serif;
  font-size: 20px;
  padding-left: 25px;
  width:100%; 
}

.popout-btn:hover{
  color: white;
}

.prof {
  grid-area: prof;
}

.cal {
  grid-area: cal;
}

.options {
  grid-area: options;
}

/*JOB LISTING TITLE*/
.info-container {
  display: flex;
  grid-area: info;
  justify-content: space-between;
  margin-bottom: 10px;
}

.job-listing {
  margin: 25px 0 25px 40px;
  }

.job-title {
  color: #595c68;
  font-size: 25px;
  margin-bottom: 10px;
}

.job-title-details {
  align-items: center;
  color:#8a95a4;
  display: flex;
}

.location-icon {
  padding-right: 5px;
}

.bullet-small {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 7px;
}

.job-info-buttons {
  align-items: center;
  display: flex;
  margin-right: 40px;
}

.open-button {
  align-items: center;
  border: 2px solid #eff1f3;
  border-radius: 20px;
  color: #707b8b;
  display: flex;
  font-size: 13px;
  font-weight: 800;
  height: 40px;
  justify-content: center;
  margin-right: 15px;
  width: 95px;
}

.dot {
  color: #8ec447;
  padding-right: 7px;
}

.small-buttons {
  align-items: center;
  border: 2px solid #eff1f3;
  border-radius: 100%;
  color: #9ba3ae;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-right: 15px;
  width: 40px;
}

/* NAV TABS CONTAINER */
.nav-container {
  grid-area: nav;
}

.tabs {
  display: flex;
  margin-left: 15px;
}

.tab-btns {
  color: #9eaabc;
  border-left: 5px solid transparent;
  height: 35px;
  font-size: 14px;
  font-weight: 700;
  padding: 0 25px 0 25px;
}

.tab-btns:hover {
  border-bottom: 5px solid #25a6f7;
  color: #4e515e;
}

/* GRAPH AREA */
.graph-container {
  background-color: #ecf2f6;
  display: grid;
  grid-area: graph;
  grid-template-areas: 
  "circle bar"
  "button1 button2"
  "line line"
  padding-bottom: 20px;
}

.circle-graph-area {
  display: flex;
  grid-area: circle;
  margin-top: 20px;
}

.fake-circles {
  height: 225px;
}

.bar-graph-area {
  display: flex;
  grid-area: bar;
  justify-items: center;
  margin-top: 20px;
}

.bar-graph {
  height: 250px;
}

.left-graph-btn {
  display: flex;
  grid-area: button1;
  justify-content: center;
  margin-bottom: 20px;
}

.graph-btns {
  align-items: center;
  background-color: white;
  border: 2px solid #eff1f3;
  border-radius: 20px;
  color: #707b8b;
  display: flex;
  font-size: 13px;
  font-weight: 800;
  height: 40px;
  justify-content: center;
  margin-right: 15px;
  padding-bottom: 3px;
  padding-top: 3px;
}
.totals-btn {
  width: 210px;
}

.bullet-btns {
  padding: 0 5px;
  font-size: 7px;
}

.right-graph-btn {
  display: flex;
  grid-area: button2;
  justify-content: center;
  margin-bottom: 20px;
}

.per-day-btn {
  width: 150px;
}

/* JOB TABLE AREA */
.job-container {
  grid-area: job;
  display: flex;
  justify-content: center;
  background-color:#ecf2f6
}

table {
  margin: 30px auto;
}

th {
  background-color: #707d94;
  height: 75px;
}

.test-hr {
  width: 200px;  
}
.head-column-1 {
  background-color: #707d94;
  height: 75px;
}

.head-column-2 {
  background-color: #707d94;
  height: 75px;
}
.column-1 {
  background-color: white;
}

.column-2 {
  background-color: white;
}

/* SOCIAL SHARING AREA */
.social-container {
  background-color: #ecf2f6;
  display: grid;
  grid-area: social;
  grid-template-areas:
    "soc-btns"
    "link"
    "widget"
    "upload"
}

.social-links {
  display: flex;
  flex-direction: column;
  grid-area: soc-btns;
  margin: auto;
}

.social-buttons {
  align-items: center;
  color: white;
  display: flex;
  height: 50px;
  margin-bottom: 20px;
  width: 300px;
}

.fb {
  background-color: #4d73bf;
}

.twit {
  background-color: #1caaec;
}

.lin {
  background-color: #147eb9;
}

.social-icons {
  margin-right: 50px;
  padding-left: 30px;
}

.share-columns {
  color: #606d7e;
  border-bottom: 2px solid #d2dae2;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: 30px;
  width: 300px;
}

.link-to-job {
  grid-area: link;
}

.widget {
  grid-area: widget;
}

.upload {
  grid-area: upload;
}

.share-icons {
  padding-right: 8px;
}

.share-titles {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 8px;
  margin-top: 30px;
}

.share-text {
  font-weight: 350;
  margin-bottom: 20px;
}

.input-add-on {
  display: flex;
}

.text-input {
  border: 2px;
  border-radius: 5px;
  height: 50px;
  flex: 1;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding-left: 15px;
}

.copy-btn {
  background-color: #4dbac0;
  border: 2px;
  border-radius: 3px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding: 0 15px;
}
