html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: auto;
  font-family: 'Lato', sans-serif;
}

/*MAIN GRID ELEMENTS*/
main {
  display: grid;
  grid-template-areas: 
    "menu search search"
    "menu info info"
    "menu nav nav"
    "menu graph graph"
    "menu job social";
  grid-template-columns: 175px 1fr 1fr;
}

/*LEFT MENU*/
.menu-container {
  background-color: #354051;
  grid-area: menu;
} 

.profile-box{
  align-items: center;
  border-bottom: 2px solid #2c3644;
  display: flex;
  flex-direction: column;
}

/*PROFILE PIC AREA*/
.profile-image {
  border-radius: 100%;
  height: 95px;
  margin-top: 30px;
  width: 95px;
}

.profile-name {
  color: #bfc7d4;
  padding: 20px 0 30px 0;
  font-weight: 300;
}

.profile-name:hover {
  color: white;
}

.profile-icon {
  padding-left: 10px;
}

.menu-boxes {
  border-bottom: 2px solid #2c3644;
}

.menu-section-headings {
  color: #66748b;
  margin: 20px 0 20px 20px;
  font-size: 13px;
  font-weight: 900;
}

.menu-section-headings:hover {
  color: white;
}

.menu-icons{
  color: #bfc7d4;
  padding-right: 15px;
}

.menu-icons:hover {
  color: white;
}

.menu-btns {
  align-items: center;
  color: #9eaabc;
  border-left: 5px solid transparent;
  display: flex;
  height: 35px;
  font-size: 14px;
  font-weight: 700;
  padding: 0 20px 0 20px;
  text-align: left;
  width: 175px;
}

.menu-btns:hover {
  border-left: 5px solid #25a6f7;
  color: white;
}

.last-btn {
  margin-bottom: 20px;
}

/*CHECKBOXES*/
.checkboxes {
  align-items: center;
  color: #9ca7b9;
  display: flex;
  height: 35px;
  font-size: 13px;
  font-weight: 900;
}

.checkboxes:hover {
  color: white;
}

.checks {
  border-radius: 3px;
  display: inline-block;
  padding: 8px;
  margin: 0 13px 0 20px;
  position: relative;
  -webkit-appearance: none;
}

.admin-check {
  background-color: #fed432;
}

.admin-check:checked {
  background-color: #fed432;
  color: #99a1a7;
}

.admin-check:checked:after {
  color: #354051;
  content: '\2714';
  font-size: 14px;
  left: 3px;
  position: absolute;
  top: 0px;
}

.design-check {
  background-color: #35b1fc;
}

.design-check:checked {
  background-color: #35b1fc;
  color: #99a1a7;
}

.design-check:checked:after {
  color: #354051;
  content: '\2714';
  font-size: 14px;
  left: 3px;
  position: absolute;
  top: 0px;
}

.exec-check {
  background-color: #e52062;
}

.exec-check:checked {
  background-color: #e52062;
  color: #e52062;
}

.exec-check:checked:after {
  color: #354051;
  content: '\2714';
  font-size: 14px;
  left: 3px;
  position: absolute;
  top: 0px;
}

.hr-check {
  background-color: #19a889;
}

.hr-check:checked {
  background-color: #19a889;
  color: #e52062;
}

.hr-check:checked:after {
  color: #354051;
  content: '\2714';
  font-size: 14px;
  left: 3px;
  position: absolute;
  top: 0px;
}

/*TOP SEARCH BAR*/
.search-container {
  grid-area: search;
}

.nav-search-bar {
  display: grid;
  grid-template-areas: 
  "popout srcbar prof cal options";
  grid-template-columns: 100px 1fr 100px 100px 100px;
}

.search-icons{
  align-items: center;  
  border: 1px solid #eff1f3;
  color: #7b8593;
  display: flex;
  font-size: 30px;
  justify-content: center;
}

.search-icons:hover{
  background-color: #25a6f7;
  border-color: #25a6f7
  color: white;
}

.popout {
  grid-area: popout;
}

.srcbar {
  grid-area: srcbar
}

.search-bar-input {
  border: 1px solid #eff1f3;
  height: 100px;
  font-family: 'Lato', 'Font Awesome 5 Free', sans-serif;
  font-size: 25px;
  padding-left: 25px;
  width:100%; 
}

.prof {
  grid-area: prof;
}

.cal {
  grid-area: cal;
}

.options {
  grid-area: options;
}







.info-container {
  grid-area: info;
  background-color: #fd644e;
}

.nav-container {
  grid-area: nav;
  background-color: #82c7a5;
}

.graph-container {
  grid-area: graph;
  background-color: #808080;
}

.job-container {
  grid-area: job;
  background-color: #aed8e5;
}

.social-container {
  grid-area: social;
  background-color: #7f0e7f;
}

.TEST {
  font-size: 50px;
}
